
@import url("footerMusique.css");

@import url("headerMusique.css");

li {

    list-style-type: none;
    padding-left: 11px;
}

main {

    background-color: #bac7a7;
    font-family: 'Bellota', cursive;
    font-family: 'Pacifico', cursive;
    font-size: 1.2rem;
    text-shadow: 2px 2px 15px black;
}

#imgNuit {
  background-image: url('https://lesaventuresdepetitebete.files.wordpress.com/2012/07/soleil.jpg');
}
.MusiSectParaSalle, .MusiSectParaSalle {

    margin-top: 50px;
}

.MusiSectPrincipale, .MusiSectInfoCarou {

    text-align: center;
    word-wrap: break-word;
}

.MusiSectUlAsideSalle {

    display: flex;
    justify-content: space-evenly;
}

.MusiSectUl {

    display: flex;
    justify-content: space-evenly;
}

.MusiSectInfoCarou, .MusiSectAsideSalle {

    margin-bottom: 125px;
}

.MusiSectSalleBas, .MusiSectH1Salle {

    margin-Top: 125px;
}

.barre {

    border: 1px dashed black;
}

.boutonHaut {

    position: fixed;
    left: 80%;
    top: 70px;
    right: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    background-color: #e6a157;
    box-shadow: 5px 5px 7px black;
    border-radius: 16px;
    color: rgb(39, 82, 39);
}

.boutonHaut img { 
  width: 25px; 
}


div.firstSectionSport figure img {
    display: none;
}

#jourNuit {
  height: 50px;
}

.boutonDark {
  display: flex;
  justify-content: center;
}

html {
	height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

main a, main a:visited, main a:hover {
  text-decoration: none;
  color: #e6a157;
  font-size: 1.5rem;
  cursor: none;
}

main a:hover {
  background-color: deeppink;
  transition: 3s;
}

#sliderTony, #sliderOpera {
  display: flex;
}

#sliderTony img, #sliderOpera img {
  width:250px;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
}

#sliderTony button, #sliderOpera button{
  border: none;
  height:250px;
  vertical-align:top;
  font-size: 2em;
  background-color: rgb(30,30,30);
  color:#fff;
  cursor: pointer;
}
#sliderTony button:active, #sliderOpera button:active{
  box-shadow: 0 0 10px rgba(0,0,0,0.7);
}


@media screen and (min-width: 900px) {

  #sliderTony, #sliderOpera {
    display: none;
  }

 div.firstSectionSport figure img{
    display: inline;
    max-width: 100%;
    overflow: hidden;
    width: 20%;
    height: 700px;
}

  div.firstSectionSport figure {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    animation: 16s AutoSlide infinite;
  }

  @keyframes AutoSlide {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -102%; }
    45% { left: -102%; }
    50% { left: -203%; }
    70% { left: -203%; }
    75% { left: -305%; }
    95% { left: -305%; }
    100% { left: 0%; }
  }

 .boutonHaut {

    display: none;
 }
}